<P>
The Movie Club Home page is your introduction to clubs.   
Most users start with Goldkeys Movies to track the movies they would
like to see and rate the movies thay have seen.  When you enter Club Mode, most of the screens look the same but instead of working with your own movies,
you are looking at the club's shared movies.  Members of a club can schedule movies to be seen and then share in real time their 
impressions and ratings of the movies.
<P>
There are three sections on this page:
<OL>
<LI>
<strong>Club Memberships</strong>.  A person can belong to one or more clubs.  
These may be clubs you create for yourself and others or clubs you were invited to join.
Click on a club name to enter that club.
You will see the usual screens, but you will be seeing the 
club's movies rather than your individual movies.  You can exit clubs at any time.
<P>

<LI>
<strong>Pending Invites</strong> - Clubs that you were invited to join are listed here.  You can Accept or Decline an invitation.
<P>

<LI>
<strong>Clubs Created</strong> - These are the clubs you created and own.  Click on a club name to manage the club.  
As a club owner, you first invite users to join the club.  
You can also change the club's name and
description, its picture, and the permissions that members have.
<P>

<LI>
<strong>Create a New Club</strong> - give it a try!
<P>
</OL>

If you have any questions,
please
<a href="javascript:backToOpener('{{ url_for('contact') }}?r={{ rand }}');close()" class="helv">Contact Us</a>

