Manage a Movie Club after creating it or get to this page from Club Home.
<P>
There are five sections:
<OL>
<LI>
<strong>Club Attributes</strong> - Club name and description were entered when the club was originally created.
These can be changed any time.  You can also add a club picture. 
We recommend this to make the difference between individual mode and club mode more obvious.  
While the club creator is allowed all permissions,
she can also decide what individual members are allowed to do.
<P>

<LI>
<strong>Current Members</strong> - When the club is created, you automatically become its first member.  
As users accept your invitation, they will be listed here.
<P>

<LI>
<strong>Pending Invites</strong> - There are no invites for a newly created club.  See next section.
<P>

<LI>
<strong>Invite Members</strong> - Here you can search for users and invite them to join your club.  
Enter a first or last name and press the button.  Use a % character to see all users.  Then invite whomever you like.  
The previous section will list invitees.
<P>

<LI>
<strong>Delete Club</strong> - Not working out?  You can always delete the club.
<P>
</OL>

If you have any questions,
please
<a href="javascript:backToOpener('{{ url_for('contact') }}?r={{ rand }}');close()" class="helv">Contact Us</a>
