Most of the changes in this release were made to the
<a href="javascript:backToOpener('addMovies', '{{ request.url_rule }}')" class="helv">Add to My Movies</a> page.
<ul class="version">
<li class="version">
There are now three ways to find movies to add to your list.  
The original search, based on a portion of the exact title, is still available.  An advanced search lets you search by
title, but it doesn't have to be exact.  You can also search by a person and he or she could be a cast member, 
director or writer.  In the third method, click on a genre to find popular movies.
<li class="version">
In addition to keeping a list of movies you have seen, you can maintain a watch list of movies that you want to see.  Easily move movies from the watch list to the seen list when you get around to enjoying them.
<li class="version">
Since you got here, you probably saw that Goldkeys Movies has its own web address:  
<a href="javascript:backToOpener('home', '{{ request.url_rule }}')" class="helv">http://www.gkmovies.info</a>.
Security has been enabled so you 
no longer see an annoying Not Secure message at the top of the browser.
<li class="version">
Additional movie columns have been added including IMDb Rank, Meta Reviews (number of), Meta User Score,
Meta User Reviews, and Crew. A Plot Outline and Plot Summary columns replace the previous single plot.
<li class="version">
User defined columns Date Seen, My Rating and My Review have been standardized so that they can be used as Goldkeys Movies 
evolves into a social media site.  Information in these columns have been preserved.   
Ten user defined columns are available for anything you want to use them for.
<li class="version">
In
<a href="javascript:backToOpener('settings_account', '{{ request.url_rule }}')" class="helv">Settings : Account</a>
you can now add your city, state, country and a profile picture.  This will make it easier for friends to find you when 
the social media features are implemented.
<li class="version">
Minor bug fixes, enhancements, and more consistent visuals.
</ul>


