<p>Hey {{ user.firstName }},</p>
<p>
    To reset your password
    <a href="{{ url_for('reset_password_change', token=token, _external=True) }}">
        click here
    </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('reset_password_change', token=token, _external=True) }}</p>
<p>
The password change request will expire in 24 hours, so please do it now.<br>
If you have not requested a password reset, simply ignore this message.</p>
<p>Sincerely,<P>
<p>
Friend Steven<br>
Goldkeys Movies
</p>