{% from "_macros.html" import show_errors with context %}

{% from "_macros.html" import show_flash with context %}
{{ show_flash(messages=get_flashed_messages()) }}

<form action="" method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}

    <table>
    <tr>
    <td>    
        {{ form.firstName.label }}<br>
        {{ form.firstName(size=16) }}<br>
		{{ show_errors(form.firstName) }}
	</td>

	<td>
	    {{ form.lastName.label }}<br>
        {{ form.lastName(size=16) }}<br>
		{{ show_errors(form.lastName) }}
    </td>
    </tr>
    
    <tr>
    <td colspan="2">   

        {{ form.login.label }}<br>
        {{ form.login(size=24) }}<br>
		{{ show_errors(form.login) }}
	</td>
	</tr>
	
	<tr>
	<td colspan="2">
        {{ form.email.label }}<br>
        {{ form.email(size=24) }}<br>
		{{ show_errors(form.email) }}
    </td>
    </tr>
    
    <tr>
	<td>
        {{ form.city.label }}<br>
        {{ form.city(size=24) }}<br>
		{{ show_errors(form.city) }}
    </td>

	<td >
        {{ form.stateSelect.label }}<br>
        {{ form.stateSelect }}<br>
		{{ show_errors(form.stateSelect) }}
    </td>
    </tr>
    
    <tr>
	<td colspan="2">
        {{ form.countrySelect.label }}<br>
        {{ form.countrySelect }}<br>
		{{ show_errors(form.countrySelect) }}
    </td>
    
    <tr>
	<td>
        {{ form.face.label }}<br>
        {{ form.face }}<br>
		{{ show_errors(form.face) }}
    </td>
    <td>
    {% if user %}
    <img src="{{url_for('static', filename='faces')}}/{{ user.getFace()}}" width="50px">
    {% endif %}
    </td>
     
    <tr>
    <td>
		{{ form.password.label }}<br>
        {{ form.password(size=16) }}<br>
		{{ show_errors(form.password) }}

	</td>
	
	
	<td>
	    {{ form.password2.label }}<br>
	    <div class="eye_outside">
        {{ form.password2(size=16) }}<i class="far fa-eye" id="togglePassword"></i>
        </div>
		{{ show_errors(form.password2) }}
    </td>
    
    </tr>
    
    <tr>
    <td>&nbsp;<br>{{ form.submit() }}</td>
    </tr>

    
    </table>

</form>

<script>setUpEye('{{ request.url_rule }}')</script>
        