<div class="helv" >
Portions of the application can sometimes get out of sync.  But it's not the author's fault.  
If you are experiencing problems with certain features, I may ask you to reset one or more of these settings to debug the problem. 

<table>
<tr>
<td style="height:50px;">
{% with messages = get_flashed_messages() %}
{% if messages %}
	<div class="helv_small_color" >
    {% for message in messages %}
    {{ message }}<br>
    {% endfor %}
	</div>
{% endif %}
{% endwith %}
</td>
</tr>
</table>

<table>
<tr>
<td valign="top" style="width:100px;">
<a href="{{ url_for('settings_reset', reset='pager') }}" class="helv">Paging</a>
</td>
<td class="helv" >
Resets parts of the Display Movies that manages multiple pages.<P>&nbsp;
</td>
</tr>

<tr>
<td valign="top" style="width:100px;">
<a href="{{ url_for('settings_reset', reset='searcher') }}" class="helv">Searching</a>
</td>
<td class="helv" >
Resets parts of the Display Movies that remembers search parameters.<P>&nbsp;
</td>
</tr>
</div>

<tr>
<td valign="top" style="width:100px;">
<a href="{{ url_for('settings_reset', reset='all') }}" class="helv">All</a>&nbsp;
</td>
<td class="helv" >
Go for broke and reset everything.<P>
</td>
</tr>


</table>
</div>