There are three setting areas.
<OL>
<LI><a href="javascript:backToOpener('{{ url_for('settings_account') }}?r={{ rand }}')" class="helv">Account</a>.
<br>Use this simple setting area to adjust the account information that you filled in when you 
registered with Goldkeys Movies.  
Since the initial release we added city, state country and profile photo.  These are optional 
but we hope you will fill them in so potential friends can find you when the Social Media features are implemented.
Unlike most sites, you can change login and email address, and everything will still work.
<P>
<LI><a href="javascript:backToOpener('{{ url_for('settings_display') }}?r={{ rand }}')" class="helv">Display</a>.
<br>Change the way the <a href="{{ url_for('displayMovies') }}" class="helv">Display My Movies</a> page lists
your movies. This is the
most complicated settings area and it's worth some time to get to know it.  
For each movie, you can display up to 30 pieces 
of information. That number will grow over time.  
Of course, not everyone will be interested every piece of information so you can decide what to 
show and what to hide as well as how the information is displayed.
<P>
You can also include your own information with each movie.  Reviews and ratings are
obvious options but say you want to remember who you saw a movie with or how much the snacks cost.  
Those are easy to add with the user01 to user10 fields.  Click the <strong>Show</strong> box, 
change the <strong>Label</strong> to something more meaningful and adjust the <strong>Width</strong>
if you need to. 
The <strong>Height</strong> field only needs to be changed for multi-line cells.  
<P>
There is no submit button, all changes are made immediately.  Be careful not to make columns too narrow, 
they might not align with the headers.
<P>
<LI><a href="javascript:backToOpener('{{ url_for('settings_reset') }}?r={{ rand }}')" class="helv">Session</a>.
<br>I wish you didn't have to see this area.  Sometimes things get out of sync and when they do, 
the author may ask you to press one of these to set things right.  It is so embarrassing.
</OL>
If you have any questions not addressed by this help,
please
<a href="javascript:backToOpener('{{ url_for('contact') }}?r={{ rand }}')" class="helv">Contact Us</a>
so I can improve usability.