<ul class="version">
<li class="version">
Display My Movies:
<br>
For titles and cast, the IMDb icon now brings up the appropriate IMDb page.  If the title is clickable, 
then doing so will list only those movies in the same series (e.g, Star Wars).  I have to manually associate 
movies with 
series so give me a day or two to do that once you add a movie from a new series.  
<li class="version">
Display My Movies, Settings:
<br>
Ratings from Rotten Tomatoes and MetaCritic are now available. 
To include these, go to Settings : 
<a href="javascript:openerWindow('{{ url_for('settings_display') }}')" class="helv">Display Movies</a>
and click the check box for the appropriate rows.
Thanks brother Peter for this suggestion.
<li class="version">
Add to My Movies:
<br>
As you enter a title to search, the page now gives a list of auto corrected words 
that might be misspelled.  Thanks again brother Peter for this suggestion.
<li class="version">
These Release Notes are new for Version 1.2

</ul>


