<HTML>


<HEAD>
<TITLE>
Goldkeys Movies - {{ title }}
</TITLE>

<link rel="stylesheet" href="{{url_for('static', filename='client/GkMovies.css')}}">
<script src="{{url_for('.static', filename='client/GkMovies.js')}}?version=1.3"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<style>
{{ sstyle }}
</style>

</HEAD>
<BODY>
<div class="helv">
	<table>
	<tr>
	<td align="center" class="noborder">
	<div class="tight">
	 <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/goldkeys.png') }}" style="width:80px"></a><br>
     Goldkeys Movies 
     </div>
 	 </td>
 	 
 	 <td class="noborder">
     {% if current_user.is_anonymous %}
     	{% if request.path != '/index' %}
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     	<a href="{{ url_for('index') }}" class="helv">Home</a>&nbsp;&nbsp; 
     	{% endif %}
     {% else %}
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     Welcome {{ current_user.firstName }}
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <a href="{{ url_for('home') }}" class="helv">Home</a>&nbsp;&nbsp;
     <a href="{{ url_for('addMovies') }}" class="helv">Add</a>&nbsp;&nbsp;
     <a href="{{ url_for('displayMovies') }}" class="helv">Display</a>&nbsp;&nbsp;
     <a href="{{ url_for('settings') }}" class="helv">Settings</a>&nbsp;&nbsp;
     <a href="Javascript:help('{{ request.path }}')" class="helv">Help</a>&nbsp;&nbsp;      
     <a href="{{ url_for('logout') }}" class="helv">Logout</a>
     {% endif %}
     </td>
     </tr>
     </table>
     
</div>
        
<hr>

<H2> {{ title }} </H2>

{% block content %}





{% endblock %}

</BODY>
</HTML>
