<HTML>


<HEAD>
<TITLE>
Goldkeys Movies - {{ title }}
</TITLE>

<link rel="stylesheet" href="{{url_for('static', filename='client/GkMovies.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<script src="{{url_for('.static', filename='client/GkMovies.js')}}?version=1.4"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<style>
{{ sstyle }}
</style>

</HEAD>
<BODY>
<div class="helv">
	<table>
	<tr>
	<td align="center" class="noborder">
	<div class="tight">
	 <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/goldkeys.png') }}" style="width:80px"></a><br>
     Goldkeys Movies 
     </div>
 	 </td>
 	 
 	 <td class="noborder">
     {% if current_user.is_anonymous %}
     	{% if request.path != '/index' %}
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     	<a href="{{ url_for('index') }}" class="helv">Home</a>&nbsp;&nbsp; 
     	{% endif %}
     {% else %}
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     Welcome {{ current_user.firstName }}
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <a href="{{ url_for('home') }}" class="helv">{{flasker.nav('/home', 'Home')}}</a>&nbsp;&nbsp;
     <a href="{{ url_for('addMovies') }}" class="helv">{{flasker.nav('/addMovies', 'Add')}}</a>&nbsp;&nbsp;
     <a href="{{ url_for('displayMovies') }}" class="helv">{{flasker.nav('/display', 'Display')}}</a>&nbsp;&nbsp;
     <a href="{{ url_for('settings') }}" class="helv">{{flasker.nav('/settings', 'Settings')}}</a>&nbsp;&nbsp;
     <a href="{{ url_for('logout') }}" class="helv">Logout</a>
     {% endif %}
     </td>
     </tr>
     </table>
     
</div>
        
<hr>

<table style="width:750px">
<tr>
<td class="noborder" style="vertical-align:top;height:60px;width:200px">
<H2 style="margin-top:8px"> {{ title }} </H2>
  
</td>


{% if title_line %}
{% include title_line %}
{% endif %}

<td class="noborder" style="vertical-align:top;width:200px;text-align:right">
<a href="Javascript:help('{{ request.path }}')" class="helv_large">Help</a>    
</td>
</tr>


</table>
{% block content %}





{% endblock %}

</BODY>
</HTML>
