{% extends "base.html" %}

{% block content %}



{% if sent == True %}
    <div class="helv_small_color" >
	Thank you, thank you for contacting us.<br>
	Email has been sent.
	</div>
	
		
{% else %}	

<div class="helv_section">
Sure, I want to know what you think.  Be gentle.
<P>


<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    
    <table>

    <tr style="height:40px">
    <td valign="top">    	
        {{ form.firstName.label }}
    </td>
    
    <td valign="top"> 
        
    	{% if user.is_authenticated %}
	    	{{ user.firstName }}
	    	{{ user.lastName }}
    	
    	{% else %}
    	
	        {{ form.firstName(size=16) }}  {{ form.lastName(size=16) }}
	        
	        {% if form.firstName.errors|length > 0 %}
	        <br>
	            {% for error in form.firstName.errors %}
	            <span style="color: red;">[{{ error }}]</span>
	            {% endfor %}
	        {% endif %}   
	        
	        {% if form.lastName.errors|length > 0 %}
	            {% for error in form.lastName.errors %}
	            <span style="color: red;">[{{ error }}]</span>
	            {% endfor %}
	        {% endif %} 
        
        {% endif %}

        
        
    </td>
    </tr>
    
    <tr style="height:40px">
    <td valign="top">    
        {{ form.email.label }}
    </td>
    
    <td valign="top"> 
        
        
        {% if user.is_authenticated %}
	    	{{ user.email }}    	
    	{% else %}    	
	        {{ form.email(size=24) }}<br>
	        {% if form.email.errors|length > 0 %}
	            {% for error in form.email.errors %}
	            <span style="color: red;">[{{ error }}]</span>
	            {% endfor %}
	        {% endif %}
		{% endif %}
		        
    </td>
    </tr>
    
    <tr style="height:40px">
    <td valign="top">
        {{ form.subject.label }}
    </td>
    
    <td valign="top"> 
        
        {{ form.subject(size=47) }}<br>
        {% if form.subject.errors|length > 0 %}
              {% for error in form.subject.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
        {% endif %}
    </td>
    </tr>
    
    <tr style="height:160px">
    <td valign="top">
        {{ form.message.label }}&nbsp;&nbsp;
        
    </td>
    
    <td valign="top"> 
        
        {{ form.message(rows='10', cols='50') }}<br>
        {% if form.message.errors|length > 0 %}
            {% for error in form.message.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        {% endif %}

    </td>
    
    </tr>
    
    <tr>
    <td>&nbsp;<br>{{ form.submit() }}</td>
    </tr>

    
    </table>

</form>
</div>
{% endif %}

{% endblock %}