{% extends "base.html" %}

{% block content %}

<TABLE  class="title_table" cellspacing="0">
<TR>
<TD class="found_cell">
<SPAN  class="found_text">
{{ movies|length }} Movies Found
{% if searcher.series != ''  %}
&nbsp;in <font style="color:green">{{ searcher.series }}</font>
<a href="JavaScript:clearSeries()" class="helv_small">Clear Series</a>
{% endif %}
</SPAN>
</TD>




<TD class="page_cell">
	<table border=0>
	<tr>
		<td class="per_page_cell">
		<div class="helv">
		Movies per Page: 
		<select name="perPage" id="perPage" onchange="changePerPage()" }}>
		<option value="5" {{ pager.getPerPageSelected(5) }}>5</option>
  		<option value="10" {{ pager.getPerPageSelected(10) }}>10</option>
  		<option value="25" {{ pager.getPerPageSelected(25) }}>25</option>
  		<option value="50" {{ pager.getPerPageSelected(50) }}>50</option>
  		<option value="100" {{ pager.getPerPageSelected(100) }}>100</option>
  		<option value="250" {{ pager.getPerPageSelected(250) }}>250</option>
  		<option value="500" {{ pager.getPerPageSelected(500) }}>500</option>
  		<option value="1000" {{ pager.getPerPageSelected(1000) }}>1000</option>
  		<option value="All" {{ pager.getPerPageSelected(0) }}>All</option>
		</select>
		</div>
		</td>
		
		{% if pager.getNumPages() > 1 %}
			<td class="arrow_page_cell" >
			<a href="{{ url_for('displayMovies', pageArrow='p2') }}"><img src="{{ url_for('static', filename='images/page_prev_2.png') }}" width="25" style="visibility: {{ pager.getVisibility('p2') }}; "></a>
			<a href="{{ url_for('displayMovies', pageArrow='p1') }}" style="pointer-events: {{ pager.getPointerEvents('p1') }}"><img src="{{ url_for('static', filename='images/page_prev_1.png') }}" width="25" style="opacity: {{ pager.getOpacity('p1') }}; "></a>
			</td>
			{% for p in pager.getGroupRange() %}
			<td class="page_number_cell">
			<a href="{{ url_for('displayMovies', pageSelected=p) }}" class="page_text" >{{pager.strong(p)}}</a>
			</td>
			{% endfor %}
			<td class="arrow_page_cell">
			<a href="{{ url_for('displayMovies', pageArrow='n1') }}" style="pointer-events: {{ pager.getPointerEvents('n1') }}"><img src="{{ url_for('static', filename='images/page_next_1.png') }}" width="25" style="opacity: {{ pager.getOpacity('n1') }}; "></a>
			<a href="{{ url_for('displayMovies', pageArrow='n2') }}"><img src="{{ url_for('static', filename='images/page_next_2.png') }}" width="25" style="visibility: {{ pager.getVisibility('n2') }}; "></a>
			</td>
			
			
		{% endif %}
	</tr>
	</table>
</td>





</TR>
</TABLE>

<TABLE  class="fixed_headers" cellspacing="0">
<THEAD>
<TR>
{% for col in user.columns %}

	{% if col.vis == 'T' %}
	
	<TD align="center">
	<IMG src="{{ flasker.getArrow(col.name) }}" width="20" style="visibility: {{ flasker.getVisibility(col.name) }}; ">
	<br>
	{% if col.attribute.sortable == 'T' %}
		<BUTTON  name="{{ col.name }}" type="submit" style="height:34px;{{ col.getButtonColor() }}" onclick="doButton('{{ col.name }}')">{{ col.label }}</BUTTON>
	{% else %}
		<div class="button_height">{{ col.label }}</div>
	{% endif %}
	<br>
	{% if col.attribute.dataType == "poster" %}
	    <div  style="margin-top:22px">
		<a href="{{ url_for('displayMovies', reset_search=T) }}" class="helv_smaller">Clear Search:</a>
		</div>
	{% elif col.attribute.searchable == 'T' %}
		<INPUT  id="{{ col.name }}Search" name="{{ col.name }}Search" type="search" value="{{ flasker.getArgValue(col.name) }}" style="width:{{ col.getWidth() }}px; margin-top: 2px;"  oninput="doSearch('{{ col.name }}')">
	{% endif %}

	</TD>
	{% endif %}
	
{% endfor %}
</TR>
</THEAD>
<TBODY>
{% for i in pager.getMovieRange() %}

	<tr>
	{% for col in user.columns %}
	
		{% if col.vis == 'T' %}
		<td>
		{% if col.attribute.dataType == "poster" %}		
			<a href="https://www.imdb.com/title/{{ movies[i].imdb_movie.tt }}" target="_blank"><img src="{{url_for('static', filename='posters')}}/{{ movies[i].imdb_movie.tt }}.jpg" width="{{ col.getWidth() }}px"></a>
		{% elif col.attribute.dataType == "img" %}
			<a href="Javascript:{{ col.name }}('{{ movies[i].imdb_movie.id }}', '{{ movies[i].imdb_movie.title }}' )"><img src="/static/images/{{ col.name }}.png" width="{{ col.getWidth() }}px"  ></a>
		{% elif col.attribute.editable == 'T' and col.rows < 2 %}
			<input type="text"  id="{{ col.name }}_{{ movies[i].imdb_movie.id }}" name="{{ col.name }}_{{ movies[i].imdb_movie.id }}" value="{{ flasker.getFormatValue(movies[i], col) }}" style="width:{{ col.getWidth() }}px" oninput="changeInput('{{ col.name }}', '{{ movies[i].imdb_movie.id }}', '{{ col.dataFormat }}')" >
		{% elif col.attribute.editable == "T" and col.rows > 1 %}
<textarea id="{{ col.name }}_{{ movies[i].imdb_movie.id }}" name="{{ col.name }}_{{ movies[i].imdb_movie.id }}" style="width:{{ col.getWidth() }}px" rows="{{ col.rows }}"  oninput="changeInput('{{ col.name }}', '{{ movies[i].imdb_movie.id }}', '{{ col.dataFormat }}')" >{{ flasker.getFormatValue(movies[i], col) }}</textarea>
		{% elif col.attribute.scrollable == 'T' %}
		<div class="scrollable" style="height:{{ col.getHeight() }}px">
{{ flasker.getFormatValue(movies[i], col) }}
		</div>
		{% elif col.name == 'title' %}
			<a href="https://www.imdb.com/title/{{ movies[i].imdb_movie.tt }}"  target="_blank">
			<img src="{{url_for('static', filename='images/imdb.jpg')}}" style="width:27px">
			</a><br>
			
			{% if movies[i].imdb_movie.series != '' %}
				<a href="JavaScript:searchSeries('{{ movies[i].imdb_movie.series }}' )" class="imdb" >
				{{ flasker.getFormatValue(movies[i], col) }}
				</a>
			{% else %}
				{{ flasker.getFormatValue(movies[i], col) }} 
			{% endif %}
		{% elif col.name == 'genre' %}
			{% for genre in movies[i].imdb_movie.genres %}
				{{ flasker.getFormatString(genre.genre, col) }}<br>
			{% endfor %}
		{% elif col.name == 'actor' %}
		<div style="height:{{ col.getHeight() }}px">
			<table cellspacing="0" cellpadding="0" style="border:0">
			{% for actor in movies[i].imdb_movie.actor_movies %}
			<tr style="background-color:transparent;">
			
			<td style="border:0;text-align:left;width:30px;">
			<a href="https://www.imdb.com/name/{{ actor.nm }}"  target="_blank"><img src="{{url_for('static', filename='images/imdb.jpg')}}" style="width:25px"></a>
			</td>
			
			<td style="border:0;text-align:left;">
			<a href="Javascript:searchActor('{{ actor.actor.actor }}')">{{ flasker.getFormatString(actor.actor.actor, col) }}</a>
			</td>
			
			</tr>
			{% endfor %}
			</table>
		</div>
		{% else %}
			{{ flasker.getFormatValue(movies[i], col) }}
        {% endif %}
        </td>
        {% endif %}
     {% endfor %}
     </tr>
{% endfor %}
</TABLE>

<script>
setSearchFocus( '{{ thisSearch }}' );
</script>


{% endblock %}

