<HTML>
<HEAD>
<meta http-equiv="cache-control" content="no-cache"  />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="0" />
<TITLE>
{{ title }} Help
</TITLE>
<style>
    div.helv {
        font-family: Helvetica;
        font-size: 14px;
    }
    
</style>

<script src="{{url_for('.static', filename='client/GkMovies.js')}}?r={{ rand }}"></script>
</HEAD>
<BODY>

<div class="helv">
{% include includePath %}
</div>

<img src="{{ url_for('static', filename=imagePath) }}?r={{ rand }}">

</BODY>
</HTML>
