{% extends "base.html" %}

{% block content %}

<!--
<div style="font-family: Helvetica; font-size=20px; color: red">
<B>
&nbsp;&nbsp;&nbsp;&nbsp;Goldkeys Movies is being updated to Version 1.3. <br>
&nbsp;&nbsp;&nbsp;&nbsp;Please hold off using until about 5:30 PM.  Thank You
</B>
<P>
</div>
-->

<div class="helv_section">
Welcome To Goldkeys Movies.  With this site you can record all your favorite movies and link them to the Internet Movie Database 
<img src="{{url_for('.static', filename='images/imdb.jpg')}}"  style="vertical-align:middle" width="40">.  Add as many or as few as you like.
Then sort or search for titles, review, plot lines, cast members, etc.  
<P>
&nbsp;
</div>



<table class="home" width="650px">
<tr>
<td class="home" width="130" valign="top" ><a href="{{ url_for('addMovies') }}" class="helv">Add to My Movies</a></td>
<td class="home" >Go to this page first.  You will see a simple input box.  Start typing and matching movies from IMDb will be listed.  
When one or more movies appear that you have seen, press the <strong>Add Movie</strong> button to add it to your list.  
After you have added a few, go to the next page.</td>

</tr>

<tr>
<td class="home" width="130" valign="top"><a href="{{ url_for('displayMovies') }}" class="helv">Display My Movies</td>
<td class="home" >This is the main Goldkeys Movies page.  The page lists all of your movies and some associated information 
from IMDb.  For each movie, you can enter some fields: Date seen, your rating, and your review.   
The remaining fields come from IMDb and are updated periodically.  This is where you can search and sort. 
Press a button to sort and press it again to reverse the sort.
Click on a movie poster, title 
or cast member to go to that IMDb page.</td>
</tr>

<tr>
<td class="home" width="130" valign="top"><a href="{{ url_for('settings') }}" class="helv">Settings</td>
<td class="home" >This is where you can customize Goldkeys Movies for yourself.  You can change the width and height of column and add your own custom columns.  
Three have been added - date, rating and review - and a total of 10 are available.  You can also change your account information like login and email.
</td>
</tr>

<tr>
<td class="home" width="130" valign="top"><a href="{{ url_for('contact') }}" class="helv">Contact Us</td>
<td class="home" >Problems using Goldkeys Movies? Or do you have accolades you want to share?  Let us know.
</td>
</tr>

<tr>
<td class="home" width="130" valign="top"><a href="{{ url_for('versions') }}" class="helv">Release Notes</td>
<td class="home" >Goldkeys Movies was last updated to Version {{ version.version }} on {{ version.getFormatInstallDate() }}. 
This page shows the complete change history.
</td>
</tr>

{% if user.admin == 'T' %}
<tr>
<td class="home" width="130" valign="top"><a href="{{ url_for('admin') }}" class="helv">Administration Functions</td>
<td class="home" >Used to change the behaviour of Goldkeys Movies for all users.</td>
</tr>

{% endif %}


</table>

<script>
popNewVersions( {{ newVersions|length }});
</script>


{% endblock %}

