<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <table>
    <tr>
    <td  colspan="2">
    <div class="helv_small_color" >
    {% with messages = get_flashed_messages() %}
		{% if messages %}
			
    		{% for message in messages %}
    		{{ message }}<br>
    		{% endfor %}
    	
    	{% else %}
    	<P>&nbsp;
    	{% endif %}

	{% endwith %}
	</div>
	</td>
	</tr>
	
    <tr>
    <td>    
        {{ form.firstName.label }}<br>
        {{ form.firstName(size=16) }}<br>
        {% if form.firstName.errors|length > 0 %}
	        {% for error in form.firstName.errors %}
	        <span style="color: red;">[{{ error }}]</span>
	        {% endfor %}
	    {% else %}
        	<br>
        {% endif %}   
	</td>
	
	<td>
	    {{ form.lastName.label }}<br>
        {{ form.lastName(size=16) }}<br>
        {% if form.lastName.errors|length > 0 %}
	        {% for error in form.lastName.errors %}
	        <span style="color: red;">[{{ error }}]</span>
	        {% endfor %}
	    {% else %}
        	<br>
        {% endif %}  
        
    </td>
    </tr>
    
    <tr>
    <td>    
        {{ form.login.label }}<br>
        {{ form.login(size=12) }}<br>
        {% if form.login.errors|length > 0 %}
        	{% for error in form.login.errors %}
        	<span style="color: red;">[{{ error }}]</span>
        	{% endfor %}
        {% else %}
        	<br>
        {% endif %}
	</td>
	</tr>
	
	<tr>
	<td colspan="2">
        {{ form.email.label }}<br>
        {{ form.email(size=24) }}<br>
        {% if form.email.errors|length > 0 %}
        	{% for error in form.email.errors %}
        	<span style="color: red;">[{{ error }}]</span>
        	{% endfor %}
        {% else %}
        	<br>
        {% endif %}
    </td>
    </tr>
    
    <tr>
    <td>
		{{ form.password.label }}<br>
        {{ form.password(size=16) }}<br>
        {% if form.password.errors|length > 0 %}
	      	{% for error in form.password.errors %}
	      	<span style="color: red;">[{{ error }}]</span>
	      	{% endfor %}
        {% else %}
      	<br>
        {% endif %}
	</td>
	
	
	<td>
	    {{ form.password2.label }}<br>
        {{ form.password2(size=16) }}<br>
        {% if form.password2.errors|length > 0 %}
        	{% for error in form.password2.errors %}
        	<span style="color: red;">[{{ error }}]</span>
        	{% endfor %}
        {% else %}
        	<br>
        {% endif %} 
    </td>
    
    </tr>
    
    <tr>
    <td>&nbsp;<br>{{ form.submit() }}</td>
    </tr>

    
    </table>

</form>