{% extends "base.html" %}

{% block content %}

<div class="helv_section">
Please enter your email address to request a password reset.  If the email address has been registered with 
Goldkeys Movies, you will receive an email with your login and a link to change your password.


    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <P>&nbsp;
        <p>{{ form.submit() }}</p>
    </form>
</div>
    
{% endblock %}