{% extends "base.html" %}

{% block content %}

<div class="helv_section">

Update a oldest of movies.
<P>
<form action="" method="post" >
    {{ oldestForm.hidden_tag() }}

    {{ oldestForm.cnt.label }}&nbsp;{{ oldestForm.cnt(size=5) }}&nbsp;&nbsp;
    {{ oldestForm.oldestGenres.label }}&nbsp;{{ oldestForm.oldestGenres }}&nbsp;
    {{ oldestForm.oldestCast.label }}&nbsp;{{ oldestForm.oldestCast }}&nbsp;
<p>{{ oldestForm.submit() }}</p>    

</form>
{{ oldest_message }}

<P>&nbsp;<P>&nbsp;<P>
Update a single movie
<P>
<form action="" method="post">
    {{ singleForm.hidden_tag() }}
    
    {{ singleForm.tt.label }}&nbsp;{{ singleForm.tt(size=8) }}&nbsp;
    {{ singleForm.singleGenres.label }}&nbsp;{{ singleForm.singleGenres }}&nbsp;
    {{ singleForm.singleCast.label }}&nbsp;{{ singleForm.singleCast }}&nbsp;
<p>{{ singleForm.submit() }}</p>    
    
 
 
</form>
{{ single_message }}
    
<P>


</div>

{% endblock %}

